{
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["node", "mocha"],
  "extends": ["eslint:recommended", "airbnb"],
  "parserOptions": { "ecmaVersion": 8 },
  "rules": {
    "class-methods-use-this": "off"
  }
}
